@{
    ViewData["Title"] = "About this page";
}

<div>
    <h1>Testing ASP.NET and Docker</h1>

    <p>The propose of this simple Web App is only to test the ASP.NET Core running in a Docker container</p>
</div>