@{
    ViewData["Title"] = "AspNet";
}

<div class="px-2 text-justify">
    <div class="col-lg-8 mx-auto">
        <img class="img-fluid" src="~/images/netcore.png">
    </div>
    <h2 class="mt-3">What is a ASP.NET Core?</h1>
    <p>ASP.NET Core is a cross-platform, high-performance, 
       <a href="https://github.com/aspnet/AspNetCore">open-source</a> framework for building modern, 
       cloud-based, Internet-connected applications. With ASP.NET Core, you can:
    </p>
    <ul>
        <li>Build web apps and services, IoT apps, and mobile backends.</li>
        <li>Use your favorite development tools on Windows, macOS, and Linux.</li>
        <li>Deploy to the cloud or on-premises.</li>
        <li>Run on .NET Core or .NET Framework.</li>
    </ul>
    <p>Do you want to learn more?, visit <a href="https://docs.microsoft.com/en-us/aspnet/core/">ASP.NET Core</a>

    <div>
        <a class="btn btn-primary" href="/">Go back</a>
    </div>
</div>