@{
    ViewData["Title"] = "Docker";
}

<div class="px-2 text-justify">
    <div class="col-lg-8 mx-auto">
        <img class="img-fluid" src="~/images/dockerbanner2.png">
    </div>
    <h2 class="mt-3">What is Docker?</h1>
    <p>Docker is a tool designed to make it easier to create, deploy, 
        and run applications by using containers.
    </p>
    <h2>What is a container?</h2>
    <p>A container is a standard unit of software that packages up code and 
        all its dependencies so the application runs quickly and reliably from one computing environment 
        to another.
    </p>
    <p>Containers allow a developer to package up an application with all of the parts it needs, 
        such as libraries and other dependencies, and ship it all out as one package.
    </p>
    <p>You can find more information in <a href="https://www.docker.com/">docker.com</a>
    
    <div>
        <a class="btn btn-primary" href="/">Go back</a>
    </div>
</div>